.galeria-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem;
}

.galeria-publicaciones {
    display: flex;
    flex-wrap: wrap;
    padding: 1.2rem;

    gap: 2rem;
    justify-content: center;
    flex: 1;
}

.producto{
    width:15rem;
}