.perfil-contenidor{

  display: flex;
  flex-direction: column;
  height: 100vh; 
 

}

.productos-comprados {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .producto-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
  }
  
  .producto-imagen {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .producto-detalle p {
    margin: 2px 0;
  }

.compras-contenido{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-top: 3rem;
  flex-wrap: wrap;
  padding-bottom: 7rem;

}

.compras-contenido	h2{
  display: flex;
  align-items: flex-start;
  position: sticky;
  margin-top: -1rem;
}

.tarjeta-compra{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  margin: 1rem;
  
}


